[Unit]
Description=Autonomous coding pipeline poller (%i)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=@@USER@@
WorkingDirectory=@@INSTALL_DIR@@/poller
ExecStart=/usr/bin/node @@INSTALL_DIR@@/poller/poller.js
StandardOutput=journal
StandardError=journal
SyslogIdentifier=pipeline-poller-%i

EnvironmentFile=/etc/rabin/projects/%i.env
Environment=PIPELINE_SCRIPT=@@INSTALL_DIR@@/pipeline/run_pipeline.sh

