[Unit]
Description=Run autonomous coding pipeline poller (%i)

[Timer]
OnBootSec=2min
OnUnitActiveSec=@@DEFAULT_POLL_INTERVAL_MINUTES@@min
AccuracySec=1min
Unit=pipeline-poller@%i.service
Persistent=true

[Install]
WantedBy=timers.target
